body {
  margin: 0px;
  padding: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}
p,
h1,
h2,
h3 {
  margin: 0px;
}
.titulo {
  padding-top: 40px;
}
.nav {
  display: flex;
  text-transform: uppercase;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 10px;
}
.nav a {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.box1 {
  background-color: white;
  text-align: right;
  padding: 40px;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}
.box1 a {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.vantagens {
  font-size: 60px;
  text-align: right;
  padding: 20px;
  align-self: center;
}

.descricao {
  background-color: white;
  padding: 20px;
}
.eletrica {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px 10px;
  padding: 10px;
}
.eletrica p {
  grid-column: 2;
}
.velocidade {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px 10px;
  padding: 10px;
}
.velocidade p {
  grid-column: 2;
}
.rastreador {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px 10px;
  padding: 10px;
}
.rastreador p {
  grid-column: 2;
}

.rodape {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
